.register-image {
    height: 500px;
    width: 500px;
    position: fixed;
    bottom: -100px;
    left: -620px;
    transform: rotate(0);
    display: none;
}

.register-bob {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: rotateAnimation 2s ease-in-out infinite alternate;
}

.error-message {
    color: red;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    50% {
        transform: rotate(20deg) translateX(200px) translateY(-100px); /* Add translation to the right */
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}

@media only screen and (min-width: 1024px) {
    .register-image {
        display: block;
    }
}
